.tvShows{
  max-width: 300px;
  margin: auto;
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
}
.video{
  display: block;
  margin: 0 auto;
}
.back{
  border: 2px solid #e7e7e7;
  border-radius: 10px;
  padding: 8px 12px;
  margin-left: 20px;
  background-color: white;
  color: black;
}
.back:hover{
  background-color: #e7e7e7;
  color: white;
}
